<div class="containerX">
    <div class="container" fxLayout="row" fxLayoutGap="3px" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" fxFlex>الماضي</button>
        <button mat-raised-button color="primary" fxFlex>المضارع المرفوع</button>
        <button mat-raised-button color="primary" fxFlex>المضارع المنصوب</button>
        <button mat-raised-button color="primary" fxFlex>المضارع المجزوم </button>
        <button mat-raised-button color="primary" fxFlex>المضارع المؤكد</button>
        <button mat-raised-button color="primary" fxFlex>الأمر</button>
        <button mat-raised-button color="primary" fxFlex>الأمر المؤكد</button>
    </div>
</div>