
  .mat-grid-tile-header{
    background-color: rgb(169, 168, 168) !important;
    max-height: 35%;
    font-size: large;
    color: black !important;
}

.mat-grid-tile-footer{
    font-size: x-large;
    min-height: 65%;
    background-color: rgb(185, 202, 202) !important;
}

.verb-link {
  text-decoration: none;
  color: rgb(8, 90, 153);
}