<form class="root-search-form" (ngSubmit)="search($event)">
    <div class="form-fields-container">
        <mat-form-field class="root-form-full-width" appearance="fill">
            <input matInput placeholder="أدخل جذراً ثلاثياً أو رباعياً (خرج، مثلاً)" [formControl]="rootFormControl"
                [errorStateMatcher]="matcher" maxlength="4" lang="ar" minlength="3" dir="rtl" />

            <mat-error *ngIf="!rootFormControl.hasError('required')">
                أدخل جذر كلمة عربية ثلاثي أو رباعي
            </mat-error>
            <mat-error *ngIf="rootFormControl.hasError('required')">
                الجذر <strong>ضروري</strong>
            </mat-error>
            <button mat-raised-button type="submit" style="font-size: xx-large;">بحث</button>
        </mat-form-field>
    </div>
</form>