
.root-search-form {
    margin: 15px;
    font-family: Kitab, system-ui;
    
  }

  .mat-form-field {
    margin-left: 12px;
    font-family: Kitab, system-ui;
    width: 30%;
  }

  button
  {
    font-family: Kitab, system-ui; 
  }

  .search-button
  {
    vertical-align: middle;
    float:left;
  }