<mat-toolbar color="primary" dir="rtl">
  <div fxFlex fxLayout fxLayoutAlign="center" >
    <h1>
      صــــــــــرف
    </h1>
  </div>
</mat-toolbar>
<main>
  <router-outlet>
    <article>
      <div class="surtitre">عنترة بن شداد العبسي</div>
      <h1 class="">فخرُ عنتر</h1>
      <div class="texte">
        <table class="spip">
          <tbody>
            <tr class="row_odd odd">
              <td>إِذا كَـشَفَ الزَمانُ لَكَ القِناعا</td>
              <td>وَمَـدَّ إِلَيكَ صَرفُ الدَهرِ باعا</td>
            </tr>
            <tr class="row_even even">
              <td>فَـلا تَـخشَ الـمَنيَّةَ واقتحمها</td>
              <td>وَدافِـع ما اِستَطَعتَ لَها دِفاعا</td>
            </tr>
            <tr class="row_odd odd">
              <td>وَلا تَـختَر فِـراشاً مِن حَريرٍ</td>
              <td>وَلا تَـبكِ الـمَنازِلَ وَالـبِقاعا</td>
            </tr>
            <tr class="row_even even">
              <td>وَحَـولَكَ نِـسوَةٌ يَندُبنَ حُزناً</td>
              <td>وَيَـهتِكنَ الـبَراقِعَ وَالـلِفاعا</td>
            </tr>
            <tr class="row_odd odd">
              <td>يَقولُ لَكَ الطَبيبُ دَواكَ عِندي</td>
              <td>إِذا مـا جَـسَّ كَفَّكَ وَالذِراعا</td>
            </tr>
            <tr class="row_even even">
              <td>وَلَـو عَرَفَ الطَبيبُ دَواءَ داءٍ</td>
              <td>يَـرُدُّ الـمَوتَ ما قاسى النِزاعا</td>
            </tr>
            <tr class="row_odd odd">
              <td>وَفـي يَـومِ المَصانِعِ قَد تَرَكنا</td>
              <td>لَـنا بِـفِعالِنا خَـبَراً مُـشاعا</td>
            </tr>
            <tr class="row_even even">
              <td>أَقَـمنا بِـالذَوابِلِ سوقَ حَربٍ</td>
              <td>وَصَـيَّرنا الـنُفوسَ لَـهَ مَتاعا</td>
            </tr>
            <tr class="row_odd odd">
              <td>حِـصاني كـانَ دَلّالَ الـمَنايا</td>
              <td>فَـخاضَ غُبارَها وَشَرى وَباعَ</td>
            </tr>
            <tr class="row_even even">
              <td>وَسَـيفي كانَ في الهَيجا طَبيباً</td>
              <td>يُداوي رَأسَ مَن يَشكو الصُداعا</td>
            </tr>
            <tr class="row_odd odd">
              <td>أَنـا الـعَبدُ الَّذي خُبِّرتَ عَنهُ</td>
              <td>وَقَـد عـايَنتَني فَدَعِ السَماعا</td>
            </tr>
            <tr class="row_even even">
              <td>وَلَـو أَرسَلتُ رُمحي مَع جَبانٍ</td>
              <td>لَـكانَ بِـهَيبَتي يَلقى السِباعا</td>
            </tr>
            <tr class="row_odd odd">
              <td>مَلَأتُ الأَرضَ خَوفاً مِن حُسامي</td>
              <td>وَخَـصمي لَم يَجِد فيها اِتِّساعا</td>
            </tr>
            <tr class="row_even even">
              <td>إِذا الأَبطالُ فَرَّت خَوفَ بَأسي</td>
              <td>تَـرى الأَقـطارَ باعاً أَو ذِراعا</td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </router-outlet>
</main>