<h1 mat-dialog-title>مرحبا
    <button mat-raised-button mat-dialog-close style="font-size: x-small;">X</button>
</h1>

<div mat-dialog-content>
    <div class="about-container" dir="ltr">
        <p>Hi!</p>
        <p>Welcome to Sarf - The Arabic Language Morphology System</p>
        <p>The goal of this program is to display the various derivatives of an Arabic root word. A current limitation is that the program cannot extract the root by itself, so you must enter the root. <br /> Hopefully, in the future root extraction (stemming)
            will be added so all you have to do is enter a word.</p>
        <p>I hope you find will this program useful. If you have comments or questions, contact the developer here <a href="https://github.com/alsaydi/sarf">https://github.com/alsaydi/sarf</a> (Feel free to open an issue).</p>
    </div>
    <div class="about-container" dir="rtl">
        <p>
            أهلاً بك في موقع صرف - نظام الإشتقاق والتصريف في اللغة العربية. للأسف حالياً البرنامج لا يستطيع إستخراج جذر الكلمة ذاتياً لكن هذه مِيزة يعد لها في إصدار مستقبلي، إن شاء الله.
        </p>
        <p>
            <a href="https://github.com/alsaydi/sarf">https://github.com/alsaydi/sarf</a> أتمنى أن ترى/تري في هذا البرنامج فائدة. وإذا كان لديكم إقتراح أو استفسار، فهذه هي صفحة مخصصة بمصدر البرنامج وفيها ترى أصول البرنامج ووثائق متعلقة به.
        </p>
        <p>
            بأمكانك إضافة سؤوال أو اقتراح أو التنبيه إلى مشكلة من خلا الرابط أعلاه.
        </p>
    </div>
</div>
<button mat-raised-button color="primary" mat-dialog-close>غلق</button>