<mat-tab-group animationDuration="0ms" color="accent" backgroundColor="primary" class="tab-group">
    <mat-tab label="إسم الفاعل">
        <mat-tab-group animationDuration="0ms" color="accent" backgroundColor="primary" class="tab-group">
            <div *ngFor="let activeParticiple of activeParticiples">
                <mat-tab label="{{activeParticiple.key}}">
                    <app-nouns-listing [indefiniteNouns]="activeParticiple.indefiniteNouns" [annexedNouns]="activeParticiple.annexedNouns" [definiteNouns]="activeParticiple.definiteNouns"></app-nouns-listing>
                </mat-tab>
            </div>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="إسم المفعول">
        <mat-tab-group animationDuration="0ms" color="accent" backgroundColor="primary" class="tab-group">
            <div *ngFor="let passiveParticiple of passiveParticiples">
                <mat-tab label="{{passiveParticiple.key}}">
                    <app-nouns-listing [indefiniteNouns]="passiveParticiple.indefiniteNouns" [annexedNouns]="passiveParticiple.annexedNouns" [definiteNouns]="passiveParticiple.definiteNouns"></app-nouns-listing>
                </mat-tab>
            </div>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="إسم الزمان و المكان" *ngIf="timeAndPlaceNouns && timeAndPlaceNouns.length > 0">
        <mat-tab-group animationDuration="0ms" color="accent" backgroundColor="primary" class="tab-group">
            <div *ngFor="let timeAndPlaceNoun of timeAndPlaceNouns">
                <mat-tab label="{{timeAndPlaceNoun.key}}">
                    <app-nouns-listing [indefiniteNouns]="timeAndPlaceNoun.indefiniteNouns" [annexedNouns]="timeAndPlaceNoun.annexedNouns" [definiteNouns]="timeAndPlaceNoun.definiteNouns"></app-nouns-listing>
                </mat-tab>
            </div>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="مبالغة اسم الفاعل" *ngIf="exaggeratedActiveParticiples && exaggeratedActiveParticiples.length > 0">
        <mat-tab-group animationDuration="0ms" color="accent" backgroundColor="primary" class="tab-group">
            <div *ngFor="let exaggeratedActiveParticiple of exaggeratedActiveParticiples">
                <mat-tab label="{{exaggeratedActiveParticiple.key}}">
                    <app-nouns-listing [indefiniteNouns]="exaggeratedActiveParticiple.indefiniteNouns" [annexedNouns]="exaggeratedActiveParticiple.annexedNouns" [definiteNouns]="exaggeratedActiveParticiple.definiteNouns"></app-nouns-listing>
                </mat-tab>
            </div>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="اسم الآلة" *ngIf="instrumentalNouns && instrumentalNouns.length > 0">
        <mat-tab-group animationDuration="0ms" color="accent" backgroundColor="primary" class="tab-group">
            <div *ngFor="let instrumentalNoun of instrumentalNouns">
                <mat-tab label="{{instrumentalNoun.key}}">
                    <app-nouns-listing [indefiniteNouns]="instrumentalNoun.indefiniteNouns" [annexedNouns]="instrumentalNoun.annexedNouns" [definiteNouns]="instrumentalNoun.definiteNouns"></app-nouns-listing>
                </mat-tab>
            </div>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="اسم التفضيل" *ngIf="elatives && elatives.length > 0">
        <mat-tab-group animationDuration="0ms" color="accent" backgroundColor="primary" class="tab-group">
            <div *ngFor="let elative of elatives">
                <mat-tab label="{{elative.key}}">
                    <app-nouns-listing isElative="true" [annexedToIndefinite]="elative.annexedToIndefinite" [annexedToDefinite]="elative.annexedToDefinite" [indefiniteNouns]="elative.indefiniteNouns" [definiteNouns]="elative.definiteNouns"></app-nouns-listing>
                </mat-tab>
            </div>
        </mat-tab-group>
    </mat-tab>
    <mat-tab lable="الصفة المشبهة" *ngIf="assimilates && assimilates.length > 0">


    </mat-tab>
</mat-tab-group>