<mat-tab-group animationDuration="0ms" color="accent" backgroundColor="primary" class="tab-group">
    <mat-tab label="إسم الفاعل">
        <mat-tab-group animationDuration="0ms" color="accent" backgroundColor="primary" class="tab-group" *ngFor="let activeParticiple of activeParticiples">
            <mat-tab label="{{activeParticiple.key}}">
                <app-nouns-listing [nouns]="activeParticiple.nouns"></app-nouns-listing>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="إسم المفعول">
        <app-nouns-listing [nouns]="nouns"></app-nouns-listing>
    </mat-tab>
    <mat-tab label="إسم الزمان و المكان">
        <app-nouns-listing [nouns]="nouns"></app-nouns-listing>
    </mat-tab>
</mat-tab-group>