<div class="mainContainer">
    <div class="column">
        <div class="pcolumn">
            <div class="pronoun">أنا</div>
            <div class="pronoun">نحن</div>
            <div class="pronoun">أنتَ</div>
            <div class="pronoun">أنتِ</div>
            <div class="pronoun">أنتما</div>
            <div class="pronoun">أنتم</div>
            <div class="pronoun">أنتنَّ</div>
        </div>
        <div class="vcolumn">
            <div class="verb">فعلت</div>
            <div class="verb">فعلنا</div>
            <div class="verb">فعلت</div>
        </div>
    </div>
    <div class="column">
            <div class="pcolumn">
                <div class="pronoun">هو</div>
                <div class="pronoun">هي</div>
                <div class="pronoun">
                    هما<sub>
                    <em>(مذ)</em>
                    </sub>
                </div>
                <div class="pronoun">
                    هما<sub>
                    <em>(مؤ)</em>
                    </sub>
                </div>
                <div class="pronoun">هم</div>
                <div class="pronoun">هنَّ</div>
            </div>
            <div class="vcolumn">
                <div class="verb">فعل</div>
                <div class="verb">فعلت</div>
                <div class="verb">فعلا</div>
            </div>
    </div>
</div>