.mainContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: row;
    flex: 1 10%;
}

.pcolumn {
    padding: 5px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    flex: 1 10%;
    align-items: flex-end;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px 1px 1px 1px;
    border-color: slategray;
}

.vcolumn {
    padding: 5px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    flex: 1 90%;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px 1px 1px 1px;
    border-color: slategray;
}

.pronoun {
    display: flex;
    font-size: xx-large;
    border-style: solid;
    border-radius: 2px;
    border-width: 0px 0px 1px 0px;
    border-color: slategray;
}

.verb {
    display: flex;
    font-size: xx-large;
    border-style: solid;
    border-radius: 2px;
    border-width: 0px 0px 1px 0px;
    border-color: slategray;
}

em {
    vertical-align: sub;
    font-size: small;
}