<div class="mainContainer">
    <div class="column">
        <div class="pcolumn">
            <div class="pronoun">أنا</div>
            <div class="pronoun">نحن</div>
            <div class="pronoun">أنتَ</div>
            <div class="pronoun">أنتِ</div>
            <div class="pronoun">أنتما</div>
            <div class="pronoun">أنتم</div>
            <div class="pronoun">أنتنَّ</div>
        </div>
        <div class="vcolumn">
            <div class="verb">{{verbs[0]}}</div>
            <div class="verb">{{verbs[1]}}</div>
            <div class="verb">{{verbs[2]}}</div>
            <div class="verb">{{verbs[3]}}</div>
            <div class="verb">{{verbs[4]}}</div>
            <div class="verb">{{verbs[5]}}</div>
            <div class="verb">{{verbs[6]}}</div>
        </div>
    </div>
    <div class="column">
            <div class="pcolumn">
                <div class="pronoun">هو</div>
                <div class="pronoun">هي</div>
                <div class="pronoun">
                    هما<sub>
                    <em>(مذ)</em>
                    </sub>
                </div>
                <div class="pronoun">
                    هما<sub>
                    <em>(مؤ)</em>
                    </sub>
                </div>
                <div class="pronoun">هم</div>
                <div class="pronoun">هنَّ</div>
            </div>
            <div class="vcolumn">
                <div class="verb">{{verbs[7]}}</div>
                <div class="verb">{{verbs[8]}}</div>
                <div class="verb">{{verbs[9]}}</div>
                <div class="verb">{{verbs[10]}}</div>
                <div class="verb">{{verbs[11]}}</div>
                <div class="verb">{{verbs[12]}}</div>
            </div>
    </div>
</div>