<div *ngIf="conjugationGroup">
    <div class="conjugation-group">
        <label class="group-label">{{conjugationGroup.label}}</label>
        <div class="classes">
            <div *ngFor="let conjugationClass of conjugationGroup.conjugationClasses" class="conjugation">
                <label class="conjugation-label">{{conjugationClass.label}}</label>
                    <a class="conjugation-text" routerLink="{{conjugationClass.reference}}"
                        *ngIf="conjugationClass.content">
                        {{conjugationClass.content}}
                    </a>
                    <label class="conjugation-text" *ngIf="!conjugationClass.content">
                        <div style="visibility: visible;">ـ</div>
                    </label>
                </div>
            </div>
        </div>
    </div>