.main-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 5fr 5fr;
    grid-template-rows: 1fr repeat(9, 2fr) 3fr;
}

.gender {
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.text {
    color: black;
    font-size: 1.5em;
}

.mas {
    grid-column: 3 / 4;
}

.fem {
    grid-column: 4 / 5;
}

.column1 {
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.nominative {
    grid-row: 2 / 5;
}

.accusative {
    grid-row: 5 / 8;
}

.genitive {
    grid-row: 8 / 11;
}

.count {
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.nominativeCount1 {
    grid-row: 2 / 3;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.nominativeCount2 {
    grid-row: 3 / 4;
    border-bottom: 1px solid gray;
}

.nominativeCount3 {
    grid-row: 4 / 5;
    border-bottom: 1px solid gray;
}

.accusativeCount1 {
    grid-row: 5 /6;
    border-bottom: 1px solid gray;
}

.accusativeCount2 {
    grid-row: 6/ 7;
    border-bottom: 1px solid gray;
}

.accusativeCount3 {
    grid-row: 7 / 8;
    border-bottom: 1px solid gray;
}

.genitiveCount1 {
    grid-row: 8 / 9;
    border-bottom: 1px solid gray;
}

.genitiveCount2 {
    grid-row: 9 / 10;
    border-bottom: 1px solid gray;
}

.genitiveCount3 {
    grid-row: 10 / 11;
    border-bottom: 1px solid gray;
}

.column2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2 / 12;
}

.row3 {
    display: flex;
    flex-direction: row;
    flex-grow: 100px;
    grid-row-start: 11;
    grid-column: 3 / 5;
}

.row3 button {
    width: 100%;
    align-self: stretch;
    justify-self: stretch;
}

.noun {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: blanchedalmond;
}

.nounText {
    font-size: xx-large;
}