<div class="containerX">
    <div class="container" fxLayout="row" fxLayoutGap="3px" fxLayoutAlign="center center">
        <button mat-raised-button class="{{getClass('active')}}" fxFlex>الأفعال المبنية للمعلوم</button>
        <button mat-raised-button class="{{getClass('passive')}}" fxFlex>الأفعال المبنية للمجهول</button>
        <button mat-raised-button class="{{getClass('nouns')}}" fxFlex>الأسماء المشتقة</button>
        <button mat-raised-button class="{{getClass('gerunds')}}" fxFlex>المصادر</button>
    </div>
</div>