<div class="containerX">
    <div class="container" fxLayout="row" fxLayoutGap="3px" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" fxFlex routerLink="{{getActiveLink()}}" >الأفعال المبنية للمعلوم</button>
        <button mat-raised-button color="primary" fxFlex routerLink="{{getPassiveLink()}}">الأفعال المبنية للمجهول</button>
        <button mat-raised-button color="primary" fxFlex routerLink="{{getNounsLink()}}">الأسماء المشتقة</button>
        <button mat-raised-button color="primary" fxFlex routerLink="{{getGerundsLink()}}">المصادر</button>
    </div>
</div>