/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; 
    font-family:  "Amiri", serif, Roboto, "Helvetica Neue", sans-serif; 
    font-size: larger;
}
body { 
    margin: 0;
}

.position-fixed{
    position: fixed
}